# Python
__pycache__/
*.pyc

# Virtual Environment
venv_fact/

# Editor
.history/
.vscode/

# Runtime Outputs
outputs/compliance_logs.db
outputs/latest_frame.jpg
outputs/analysis_frames/

# Reports
outputs/reports/

# Models
*.pt